@namespace "http://www.w3.org/1999/xhtml";
@namespace connect "http://connect.ucles.org.uk/ns/ConnectDeliveryEngine";

#banner {
  background: -moz-linear-gradient(to right, rgba(175,154,24,1) 0%, rgba(4,104,182,1) 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(to right, rgba(175,154,24,1) 0%, rgba(4,104,182,1) 100%); /* Chrome */
  background: linear-gradient(to right, rgba(175,154,24,1) 0%,rgba(4,104,182,1) 100%); /* W3C */
  overflow: hidden;
}

#banner div {
  background-color: #fff;
}

#banner .logo {
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 6px;
}

#banner .ieltslogo {
  float: left;
  margin-left: 12px;
  margin-top: 4px;
}

#banner .right {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}

#test-banner {
  position: relative;
  padding: 0 0.75em;
  min-height: 2em;
  background: -moz-linear-gradient(to top, #000 0%, #444d52 45%, #444d52 55%, #0f202d 100%);
  background: -webkit-linear-gradient(to top, #000 0%, #444d52 45%, #444d52 55%, #0f202d 100%);
  background: linear-gradient(to top, #000 0%,#444d52 45%,#444d52 55%,#0f202d 100%);
  line-height: 1.9em;
  color: #fff;
  overflow: hidden;
  display: flex;
}

#test-banner > * {
  /*flex: 1 1 auto;*/
}

#test-banner > h1 {
  display: none;
}

#test-banner > #banner-controls,
#test-banner > .controls {
  flex-basis: 44%;
}

#test-banner > .controls {
  text-align: right;
}

#candidate {
  background-image: url("../../../../assets/images/banner/candidate-icon-16.png");
  color: #ddfed9;
  flex-basis: 44%;
  display: none;
}

#candidate-name-label,
#candidate-number-label {
  display: none;
}

#candidate, #timer, #audio-control {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

#timer {
  background-image: url("../../../../assets/images/banner/timer-icon-16.png");
  color: #fff0bd;
  cursor: pointer;
  /* width: 10em; */
}

#timer span[connect|function~="timer"] {
  text-align: left;
}

#timer span[connect|function~="timer"] > span.time-value,
#timer span[connect|function~="timer"] > em {
  font-size: 1.5em;
  line-height: 0;
  vertical-align: -0.0714em; /* -1px at 14px font-size */
}

span[connect|function~="clickTimer"] {
  width: 10em;
  text-align: left;
}

#banner-controls {
  display: inline-block;
  margin-bottom: 0;
  text-align: right;
}

#banner-controls li {
  display: inline;
}

#banner-controls a,
.toolbarButtonIcon {
  line-height: 1em;
  color: #050608;
  padding: 0.3em 1em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  margin: 0 0.25em;
  cursor: pointer;
  background: -moz-linear-gradient(center top, #f9fafe 20%, #a4abb2 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#f9fafe 20%, #a4abb2 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(#f9fafe 20%, #a4abb2 100%) repeat scroll 0 0 transparent;
  background-color: #6AADE4;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
}

#banner-controls a:hover {
  background: -moz-linear-gradient(center top, #c5c6c9 20%, #757a80 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#c5c6c9 20%, #757a80 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(#c5c6c9 20%, #757a80 100%) repeat scroll 0 0 transparent;
}
#banner-controls a:active {
  background: -moz-linear-gradient(center top , #fff 20%, #a4abb2 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(#fff 20%, #a4abb2 100%) repeat scroll 0 0 transparent;
  background: linear-gradient(#fff 20%, #a4abb2 100%) repeat scroll 0 0 transparent;
}

#banner-controls a[connect|class~="helpLink"] span,
.help .toolbarButtonIcon span {
  background: url("../../../../assets/images/banner/help-icon.png") no-repeat center center;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left:0.5em;
}

.instructions {
  /* background-image: url("../../../../assets/images/banner/instructions-icon.png"); */
  padding-right: 1.5em;
}

.close {
  background-image: url("../../../../assets/images/banner/close-icon.png");
  width: 1.14286em;
  height: 1.14286em;
  margin: 10px 0 10px 0;
  padding: 0;
  float: right;
  font-size: 1.0em;
  cursor: pointer;
}

.instructions, .close {
  -moz-background-size: 16px;
  -webkit-background-size: 16px;
  background-size: 16px;
  background-position: right center;
  background-repeat: no-repeat;
}

.title .close {
  margin-top: 2px;
}

#audio-control {
  display: inline-block;
  background-image: url("../../../../assets/images/volume.png");
  margin-left: 0.5em;
  padding-left: 1.7em;
}
#slider {
  font-size: 0.7em;
  margin-top: 0.8em;
  width: 5.5em;
  display: inline-block;
}

.audio-container {
  display: inline-block;

  &:before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../../../../assets/images/volume.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  // for chrome
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;


    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 10px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #aaa;
    }

    &::-webkit-slider-thumb {
      margin-top: -2px;
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border: 1px solid #d3d3d3;
      background-color: #e6e6e6;
      border-radius: 4px;

      &:hover {
        border-color: #999;
        background-color: #dadada;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus::-webkit-slider-thumb {
      border: 1px solid #aaa;
      background-color: #fff;
    }
  }

  //for firefox
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 55px;


    &::-moz-range-track {
      width: 100%;
      height: 8px;
      border-radius: 4px;
      border: 1px solid #aaaaaa;
      background: #fff;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border: 1px solid #d3d3d3;
      background-color: #e6e6e6;
      border-radius: 4px;

      &:hover {
        border-color: #999;
        background-color: #dadada;
      }
    }

    &::-moz-range-progress {
      background-color: #fff;
      height: 100%;
      border-radius: 4px;
    }

    &::-moz-range-track {
      background-color: #ccc;
    }

    &:focus {
      outline: none;
    }

    &:focus::-moz-range-thumb {
      border: 1px solid #aaa;
      background-color: #fff;
    }
  }

  //for ie
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 55px;


    &::-ms-track {
      width: 100%;
      height: 8px;
      border-radius: 4px;
      border: 1px solid #aaaaaa;
      background: #fff;
    }


    &::-ms-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border: 1px solid #d3d3d3;
      background-color: #e6e6e6;
      border-radius: 4px;

      &:hover {
        border-color: #999;
        background-color: #dadada;
      }
    }

    &::-ms-fill-lower {
      background-color: #fff;
      height: 100%;
      border-radius: 4px;
    }

    &::-ms-fill-upper {
      background-color: #ccc;
    }

    &:focus {
      outline: none;
    }

    &:focus::-ms-thumb {
      border: 1px solid #aaa;
      background-color: #fff;
    }
  }
}
